* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto !important;
  padding: 0;
  overflow-x: hidden;
}
body {
  padding: 2rem;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 20%;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#title {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper-left {
  background-color: rgba(224, 221, 221, 0.654);
  border: solid 2px rgba(224, 221, 221, 0.654);
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 2rem;
  height: 350px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loan-amount,
#duration,
#apr {
  width: 80%;
  height: 25px;
  border: solid 1px #000;
  border-radius: 2px;
  padding: 2px;
  display: flex;
  align-content: center;
  font-size: 18px;
  background-color: #fff;
  text-align: center;
  transition: 0.3s;
}
#loan-amount:focus,
#duration:focus,
#apr:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.upper-right {
  margin-left: 5px;
  margin-bottom: 10px;
  border: solid 2px rgba(224, 221, 221, 0.654);
  width: 50%;
  height: 350px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.t-payments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#m-payments {
  font-size: 2.5rem;
  color: rgba(20, 20, 131, 0.852);
}
.table-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

table {
  border: solid 2px rgba(224, 221, 221, 0.654);
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

thead {
  background-color: rgba(20, 20, 131, 0.852);
  color: #fff;
  font-size: 16px;
}
#bal {
  text-align: left;
}
span {
  color: rgba(20, 20, 131, 0.852);
  font-weight: 600;
}

.table-body {
  letter-spacing: 1px;
}

tr {
  height: 2rem;
}
td {
  padding-left: 10px;
  border: solid 1px rgba(224, 221, 221, 0.654);
}

tbody tr:nth-child(odd) td {
  background-color: rgba(224, 221, 221, 0.654);
}
tbody tr:nth-child(even) td {
  background-color: #fff;
}

.buttons {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#resetForm {
  height: 2.5rem;
  width: 6rem;
  font-weight: 600;
  margin-top: 1rem;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  background-color: black;
  color: #fff;
  transition: 0.1s;
}
#resetForm:hover {
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.852);
}

#calc {
  height: 2.5rem;
  width: 6rem;
  font-weight: 600;
  margin-top: 1rem;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  border: none;
  background-color: rgba(20, 20, 131, 0.852);
  color: #fff;
  transition: 0.1s;
}

#calc:hover {
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 4px rgba(20, 20, 131, 0.852);
}

@media only screen and (max-width: 1290px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #title {
    font-size: 22px;
  }
  .upper-left {
    font-size: medium;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .buttons {
    flex-direction: column;
  }
  #calc {
    text-align: center;
  }
  .upper-right {
    margin-left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
  }
  #loan-amount,
  #duration,
  #apr {
    max-width: 50vw;
  }

  thead {
    display: none;
  }

  table tbody tr td {
    display: block;
    width: 100%;
  }

  tr {
    border-top: solid 10px rgba(20, 20, 131, 0.852);
  }

  table td {
    text-align: right;
    padding-left: 50%;
    height: 3em;
    text-align: right;
    position: relative;
    padding-right: 5px;
  }
  table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 5px;
    font-weight: bold;
    text-align: left;
  }
  #total-cost {
    margin-bottom: 80px;
  }
  .t-payments {
    margin-top: 6em;

    text-align: center;
  }
  .t-payments h2 {
    font-size: 18px;
  }
  .payment-details {
    margin-bottom: 1rem;
  }
  #m-payments {
    margin: 0;
    font-size: 2em;
  }
}
